<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:src="@{/webjars/bootstrap/3.3.5/css/bootstrap.css}"/>

    <link rel="stylesheet" th:src="@{/static/main.css}"/>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Spring Websocket, Stomp Js: User-to-user chat</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:void(0)" onclick="document.getElementById('logout').submit();">
                <span class="glyphicon glyphicon-log-out"></span> Logout</a>
            </li>
            <form id="logout" action="/logout" method="post">
            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
            </form>
        </ul>
    </div>
</nav>

<div class="container">
    <p >You are logged in as <span id="username" th:text="${username}"> </span></p>

    <br/>

    <!--<div class="row">-->
        <!--<div class="col-md-6">-->

            <!--<div id="conversationDiv">-->

                <!--<div id="response"></div>-->

                <!--<div class="row">-->
                    <!--<div class="col-md-9">-->
                        <!--<input type="text" id="text" class="form-control" placeholder="Write a message..."/>-->
                    <!--</div>-->
                    <!--<div class="col-md-3">-->
                        <!--<button id="sendMessage" class="btn" onclick="sendMessage();">Send</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="col-md-6">
            <h4>Active users</h4>

            <ul id="active-users" class="list-group">
                <div th:switch="${#lists.isEmpty(onlineUsers)}">
                    <div th:case="true">
                        <h1>no active users</h1>
                    </div>
                    <div th:case="false">
                        <h1>click on user to begin chat</h1>
                    </div>
                </div>
                <ul th:each="user : ${onlineUsers}">
                    <li class="list-group-item"><img th:src="@{'/pic?target=' + ${user.login}}"/>  <a th:href="@{'/msg-forward/dialog?friend=' + ${user.login}}" class="active-user" id="friend"
                                                    th:text="${user.name}">дебаг текст</a></li>
                </ul>
            </ul>
        </div>
    </div>

<!--<script th:src="@{/webjars/sockjs-client/1.0.2/sockjs.js}" type="text/javascript"></script>-->
<!--<script th:src="@{/stomp.js}" type="text/javascript"></script>-->
<!--<script th:src="@{/chat.js}" type="text/javascript"></script>-->
<!--<script th:inline="javascript">-->
    <!--/*<![CDATA[*/-->
    <!--var stompClient = null;-->
    <!--var selectedUsername = null;-->
    <!--var from = /*[[{username}]]*/ null;-->


    <!--var context = [[@{/}]];-->


    <!--document.addEventListener("DOMContentLoaded", function () {-->
        <!--connect();-->
    <!--});-->

    <!--function connect() {-->
        <!--var socket = new SockJS(src=context + "chat");-->
        <!--stompClient = Stomp.over(socket);-->
        <!--stompClient.connect({}, function (frame) {-->
            <!--console.log('Connected: ' + frame);-->
            <!--stompClient.subscribe('/user/queue/messages', function (messageOutput) {-->
                <!--showMessageOutput(JSON.parse(messageOutput.body));-->
            <!--});-->

            <!--stompClient.subscribe('/topic/active', function (messageOutput) {-->
                <!--updateUsers(JSON.parse(messageOutput.body));-->
            <!--});-->
        <!--}, function (err) {-->
            <!--console.log('Connection lost: ' + err);-->
            <!--document.getElementById('logout').submit();-->
        <!--});-->
    <!--}-->

    <!--function disconnect() {-->
        <!--if (stompClient != null) {-->
            <!--stompClient.disconnect();-->
        <!--}-->
        <!--console.log("Disconnected");-->
    <!--}-->

    <!--function sendMessage() {-->
        <!--var text = document.getElementById('text').value;-->
        <!--document.getElementById('text').value = '';-->
        <!--if (selectedUsername == null) {-->
            <!--alert('Please select a user.');-->
            <!--return;-->
        <!--}-->
        <!--stompClient.send("/app/chat", {},-->
            <!--JSON.stringify({'from': from, 'text': text, 'recipient': selectedUsername}));-->
    <!--}-->

    <!--function setSelectedUser(username) {-->
        <!--selectedUsername = username;-->
        <!--document.getElementById('response').innerHTML = '';-->
    <!--}-->

    <!--function showMessageOutput(messageOutput) {-->
        <!--console.log(JSON.stringify(messageOutput));-->
        <!--if (messageOutput.from != from) {-->
            <!--selectedUsername = messageOutput.from;-->
        <!--}-->
        <!--document.getElementById('response').innerHTML = document.getElementById('response').innerHTML + createTextNode(messageOutput);-->
    <!--}-->

    <!--function createTextNode(messageObj) {-->
        <!--return '<div class= "row chat-message ' + (messageObj.myMsg ? ' my-message' : '') + '">' +-->
            <!--'<div class="col-md-4">' +-->
            <!--messageObj.from +-->
            <!--'<br><small>' + messageObj.time + '</small>' +-->
            <!--'</br></div>' +-->
            <!--'<div class="col-md-8"><b>' +-->
            <!--messageObj.message +-->
            <!--'</b></div>' +-->
            <!--'</div>';-->
    <!--}-->

    <!--function updateUsers(userList) {-->
        <!--console.log('List of users : ' + userList);-->
        <!--var activeUserUL = document.getElementById('active-users');-->

        <!--var index;-->
        <!--activeUserUL.innerHTML = '';-->
        <!--if (userList.length == 0) {-->
            <!--activeUserUL.innerHTML = '<p><i>No active users found.</i></p>';-->
            <!--return;-->
        <!--}-->
        <!--activeUserUL.innerHTML = '<p class="text-muted">click on user to begin chat</p>';-->

        <!--for (index = 0; index < userList.length; ++index) {-->
            <!--if (userList[index] != from) {-->
                <!--activeUserUL.innerHTML = activeUserUL.innerHTML + createUserNode(userList[index], index);-->
            <!--}-->
        <!--}-->
    <!--}-->

    <!--function createUserNode(username, index) {-->
        <!--return '<li class="list-group-item">' +-->
            <!--'<a class="active-user" href="javascript:void(0)" onclick="setSelectedUser(\'' + username + '\')">' + username + '</a>' +-->
            <!--'</li>';-->
    <!--}-->
    <!--/*]]>*/-->
<!--</script>-->

</body>
</html>